﻿@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body tablecontainer">
        <h5 class="card-title">Records</h5>

        <div class="row-no-gutters">
            <a class="popup btn btn-cyan btn-sm" href="/Book/New">New</a>
            <div class="dropdown-divider"></div>
        </div>

        <div class="table-responsive">
            <table id="BookGrid" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Url</th>
                        <th>Description</th>
                        <th>Latest Price</th>
                        <th>View Detail</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/alternative/page/Book.js")">
    </script>
}


