﻿@{
    ViewData["Title"] = "ViewDetail";
}

<h1>ViewDetail</h1>

<div class="card">
    <div class="card-body tablecontainer">
        <h5 class="card-title">Records</h5>

        <div class="table-responsive">
            <input type="hidden" id="selectedDetailID" value="@ViewBag.SelectedID" />
            <table id="BookDetailGrid" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>UrlImage</th>
                        <th>Price</th>
                        <th>DateCreatedUTC</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/alternative/page/Book.js")">
    </script>
}

