﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCrawler</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/alternative/assets/images/favicon.png">
    <link rel="stylesheet" href="~/alternative/assets/extra-libs/multicheck/multicheck.css" />
    <link rel="stylesheet" href="~/alternative/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/alternative/dist/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/alternative/assets/libs/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/alternative/assets/libs/jquery-minicolors/jquery.minicolors.css" />
    <link rel="stylesheet" href="~/alternative/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/alternative/assets/libs/quill/dist/quill.snow.css" />
    <link rel="stylesheet" href="~/alternative/dist/css/style.min.css" />
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        @RenderBody()
    </div>

    <script src="~/alternative/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/alternative/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/alternative/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/alternative/dist/js/custom.min.js"></script>


    <script src="~/alternative/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
