﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlternative.cshtml";
}

<partial name="_Header">
<partial name="_Sidebar">

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">@ViewBag.Title</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

@section Scripts {

    <script src="~/alternative/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/alternative/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/alternative/dist/js/waves.js"></script>
    <script src="~/alternative/dist/js/sidebarmenu.js"></script>
    <script src="~/alternative/dist/js/moment.min.js"></script>

    <script src="~/alternative/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/alternative/dist/js/pages/mask/mask.init.js"></script>
    <script src="~/alternative/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="~/alternative/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/alternative/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>

    <script src="~/alternative/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
    <script src="~/alternative/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
    <script src="~/alternative/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/alternative/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/alternative/assets/libs/quill/dist/quill.min.js"></script>

    <script src="~/alternative/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/alternative/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/alternative/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/alternative/dist/js/jquery-ui.min.js"></script>

    @RenderSection("Scripts", required: false)
}



